{% extends "blog/base.html" %}  
  
{% block title %}{{ post.title }}{% endblock %}  
  
{% block content %}



<div class="container-fluid">
  <div class="card-body">
    
 <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">News item</li>
  </ol>
</nav>

  <h1>{{ post.title }}</h1>  
  <p class="date">  
    Published {{ post.publish }} 
  </p>  
  {{ post.body|linebreaks }}
  <a class="btn btn-primary" href="javascript:history.back()" role="button">Back</a>
  </div>
</div>

 
{% endblock %}


